/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #ffffff;
  --first-color-dark: #ffffff;
  --first-color-darken: #ffffff;
  --white-color: #000000;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,p,ul{
  margin: 0;
  justify-content: space-between;
}

ul{
  padding: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in-out;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

header{
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
  transition-property: all;
  padding: 160px;
  box-sizing: border-box;

}



.background-image{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


.logo{
  
  display: flex;
  align-items: center;
}

.logo img{
  
  transition-property: all;
  height: 65px;
  width: 180px;
  zoom: 130%;
}

/*prova */


/*===== NAV =====*/
/* prova sticky header */
.top-container{
  background-color: transparent;
  padding: 50px;
  text-align: left;
}

/* .l-header{
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
} */

.header {
  position: sticky;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 92px;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  
} 

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 4.7rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 7rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--green-color);
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
  padding: 0%;
  margin: 30px;


}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
  padding-right: 300px;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 256px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 10;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 24rem;
  padding-right: 150px;
  
}

.home__description{
  margin-bottom: 24rem;
  font-size: 30px;
  padding-right: 150px;
  margin-bottom: 24rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 604px;
  }
}



.site-header {
    
  background: #ffffff;
  display: flex;
  align-items: left;
  justify-content: left;

}


/* sezione B*/

#banner { height:100px;width:200px }
#banner img { border:none }
#banner a {
display:block;
position:absolute
}
#banner a:hover img, #banner a:active img { display:none }
#banner a:hover, #banner a:active {
height:1920px;width:800px;
background:url(banner.png)
}

#banner { height:60px;width:120px }
#banner img { border:none }
#banner a {
  display:block;
  position:absolute
  }

section {
  overflow: auto;
  padding: 50px 80px;

}

/*====== FOOTER =====*/

footer{
  width: 100%;
  background-color: #323232;
  color: #f2f2f2;
  height: 8vh;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}